<div class="text-layout">
  <h1>{{nombre | uppercase }}</h1>
  <h1>{{numero | number }}</h1>
  <h1>{{obj | json }}</h1>
</div>

<button pButton (click)="mostrarNombre()" label="Cambiar Nombre" icon="pi pi-apple" iconPos="right"
  class="p-button-help">
</button>

<p-card [header]="nombre | titlecase"
        subheader="Esto es un subheader">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
    deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
    quas!</p>
</p-card>